
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CRMLayout.cshtml";
}

<br />

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<button id="btn" style="display:inline-block; inline-size:150px;">Buton</button>
<br />
<button id="btn2" style="display:inline-block; inline-size:150px;">Buton2</button>

<script>
    $("#btn").click(function () {
        swal("Hello world!");
    });
   $("#btn2").click(function () {
        swal("Başarılı Ekleme","Tebrikler!","success");
    });
</script>

