
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CRMLayout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Müşteri Ajax İşlemleri</h1>
<br />
<button type="button" id="btnCustomerList" class="btn btn-outline-dark">Müşteri Listesi</button>
<button type="button" id="btnCustomerAdd" class="btn btn-outline-success">Müşteri Ekle</button>
<button type="button" id="btnCustomerGet" class="btn btn-outline-primary">Müşteri Getir</button>
<button type="button" id="btnCustomerUpdate" class="btn btn-outline-warning">Müşteri Güncelle</button>
<button type="button" id="btnCustomerDelete" class="btn btn-outline-danger">Müşteri Sil</button>
<br />
<br />
<button type="button" id="btnSweet" class="btn btn-outline-info">Sweet Buton</button>
<br />

<div id="customerList">

</div>
<br />
<br />

<div class="form-group">
    <input type="text" id="txtCustomerName" placeholder="Müşteri adını giriniz." class="form-control" />
    <br />
    <input type="text" id="txtCustomerSurname" placeholder="Müşteri soyadını giriniz." class="form-control" />
    <br />
    <input type="text" id="txtCustomerMail" placeholder="Müşteri mailini giriniz." class="form-control" />
    <br />
    <input type="text" id="txtCustomerPhone" placeholder="Müşteri telefonunu giriniz." class="form-control" />
    <br />

</div>
<br />
<br />

<div class="form-group">
    <input type="text" placeholder="Aranacak ID değerini giriniz." id="txtId" class="form-control" />
</div>
<br />

<div id="customerGetById">

</div>

<br />
<br />

<div>
    <input type="text" class="form-control" id="txtDeleteId" placeholder="Silinecek ID değerini giriniz." />
</div>

<br />
<br />
<br />

<div class="form-group">
    <input type="text" id="txtGuncellenecekId" class="form-control" placeholder="Güncellenecek Id'yi giriniz." />
    <br />
    <input type="text" id="txtName" class="form-control" placeholder="Güncellenecek adınızı giriniz." />
    <br />
    <input type="text" id="txtSurname" class="form-control" placeholder="Güncellenecek soyadınızı giriniz." />
    <br />
    <input type="text" id="txtMail" class="form-control" placeholder="Güncellenecek malinizi giriniz." />
    <br />
    <input type="text" id="txtPhone" class="form-control" placeholder="Güncellenecek telefon numaranızı giriniz." />
    <br />

</div>


<script>
    $("#btnCustomerList").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "get",
            url: "/Admin/AdminCustomer/CustomerList/",
            success: function (fonk1) {
                let values = jQuery.parseJSON(fonk1);
                console.log(values);

                let tableHtml = "<table class='table table-bordered'> <tr><th>Müşteri ID</th><th>Müşteri Adı</th><th>Müşteri Soyadı</th><th>Müşteri Mail</th></tr>";

                $.each(values, (index, item) => {
                    tableHtml += `<tr><td>${item.CustomerID}</td> <td>${item.CustomerName}</td> <td>${item.CustomerSurname}</td><td>${item.CustomerMail}</td></tr>`
                });

                tableHtml += "</table>";
                $("#customerList").html(tableHtml);
            }
        });
    })

    $("#btnCustomerAdd").click(function () {
        let customerValues = {
            CustomerName: $("#txtCustomerName").val(),
            CustomerSurname: $("#txtCustomerSurname").val(),
            CustomerMail: $("#txtCustomerMail").val(),
            CustomerPhone: $("#txtCustomerPhone").val(),
        };

        $.ajax({
            dataType: "json",
            type: "post",
            data: customerValues,
            url: "/Admin/AdminCustomer/AddCustomer/",
            success: function (fonk2) {
                let values = jQuery.parseJSON(fonk2);
                alert("Müşteri başarılı bir şekilde eklendi.");
            }
        });
    })

    $("#btnCustomerGet").click(function () {
        let id = $("#txtId").val();

        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "get",
            data: { CustomerID: id },
            url: "/Admin/AdminCustomer/GetByID/",
            success: function (fonk3) {
                let values = jQuery.parseJSON(fonk3);
                console.log(values);

                let tableHtml2 = `<table class='table table-bordered'><tr><th>Müşteri ID</th><th>Müşteri Adı</th><th>Müşteri Soyadı</th></tr><tr><td>${values.CustomerID}</td><td>${values.CustomerName}</td><td>${values.CustomerSurname}</td></tr></table>`;
                $("#customerGetById").html(tableHtml2);
            }
        });
    })

    $("#btnCustomerDelete").click(x => {
        let id = $("#txtDeleteId").val();
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "get",
            url: "/Admin/AdminCustomer/DeleteCustomer/" + id,
            success: function (fonk4) {
                let values = jQuery.parseJSON(fonk4);
                alert("Müşteri başarıyla silindi.");
            }
        });
    })


    $("#btnCustomerUpdate").click(function () {
        let customerValues = {
            CustomerID: $("#txtGuncellenecekId").val(),
            CustomerName: $("#txtName").val(),
            CustomerSurname: $("#txtSurname").val(),
            CustomerMail: $("#txtMail").val(),
            CustomerPhone: $("#txtPhone").val(),
        };

        $.ajax({
            dataType: "json",
            type: "get",
            data: customerValues,
            url: "/Admin/AdminCustomer/UpdateCustomer/",
            success: function (fonk5) {
                let values = jQuery.parseJSON(fonk5);
                alert("Güncelleme işlemi başarıyla tamamlandı.");
            }
        });
    })
</script>