@model AppRole
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_CRMLayout.cshtml";
}

<h1>Rol Güncelleme</h1>
<br />

<form method="post">
    <input type="hidden" asp-for="Id" />
    @*method yerine asp-action yazıp yönlenmesini istediğimiz metodun adını yazarsak isim uyuşmazlığında doğacak (.cshtml ve metod isminin) sorunun önüne geçmiş oluruz.*@
    <label>Rol Adı:</label>
    <input type="text" asp-for="Name" class="form-control" />
    <button class="btn btn-warning">Rolü Güncelle</button>
</form>